<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title> Rafaella Costa Fotografia | Contato</title>
</head>
<body>
    <header>
       <h1>Fotografia Afetiva</h1>
    </header>
    <main>
        <h2>Entre em contato</h2>
        <form method="POST" >
            
            <input name="nome" id="nome" type="text"
            required
            maxlength="30" />
              
        </form>
    </main>
    <footer>
        <p>2021 Rafaella Costa | Fotografia Afetiva º 11 95874-0247 - Todos os direitos reservados.</p>  
    </footer>
</body>
</html>